.app {
  color: #333;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em;
}
dl{
	background: #fff
}
.attention{
	background:orange
}
.warning{
	background:#f33
}
.secondList{
	padding-left: 10px
}
	ul{
		list-style:none;
	}
